# AEM Author instance URL
VITE_AUTHOR_HOST=https://author-pXXXXX-eXXXXXX.adobeaemcloud.com

# AEM program namespace (used in persisted query paths)
# Example: vyingdigitalpartnersandboxprogram
VITE_AEM_NAMESPACE=vyingdigitalpartnersandboxprogram
